<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>CadastroUserServlet</servlet-name>
  	<display-name>CadastroUserServlet</display-name>
  	<description></description>
  	<servlet-class>orientacao.CadastroUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AlterarCadastroServlet</servlet-name>
  	<display-name>AlterarCadastroServlet</display-name>
  	<description></description>
  	<servlet-class>orientacao.AlterarCadastroServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SairServlet</servlet-name>
  	<display-name>SairServlet</display-name>
  	<description></description>
  	<servlet-class>orientacao.SairServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MontarGradeServlet</servlet-name>
  	<display-name>MontarGradeServlet</display-name>
  	<description></description>
  	<servlet-class>orientacao.servlets.MontarGradeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ResponderMsgServlet</servlet-name>
  	<display-name>ResponderMsgServlet</display-name>
  	<description></description>
  	<servlet-class>orientacao.servlets.ResponderMsgServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SelecionaOrientacaoServlet</servlet-name>
  	<display-name>SelecionaOrientacaoServlet</display-name>
  	<description></description>
  	<servlet-class>orientacao.servlets.SelecionaOrientacaoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RecuperaSenhaServlet</servlet-name>
  	<display-name>RecuperaSenhaServlet</display-name>
  	<description></description>
  	<servlet-class>orientacao.servlets.RecuperaSenhaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CadastroUserServlet</servlet-name>
  	<url-pattern>/CadastroUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AlterarCadastroServlet</servlet-name>
  	<url-pattern>/AlterarCadastroServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SairServlet</servlet-name>
  	<url-pattern>/SairServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MontarGradeServlet</servlet-name>
  	<url-pattern>/MontarGradeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResponderMsgServlet</servlet-name>
  	<url-pattern>/ResponderMsgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SelecionaOrientacaoServlet</servlet-name>
  	<url-pattern>/SelecionaOrientacaoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RecuperaSenhaServlet</servlet-name>
  	<url-pattern>/RecuperaSenhaServlet</url-pattern>
  </servlet-mapping>
</web-app>
